html {
    font-family: "Georgia", Helvetica, Arial, sans-serif;
    height: 100%;
}

body{
background: E0EFF1;
}

#content {
font-size: 1.2em;
line-height: 1.3em;
padding: 1em;
margin-left: auto;
margin-right:auto;
margin-top: 0em;
width: 70%;
margin-bottom:2em;
padding-bottom:1em;
}

#fwf {
font-family: Courier;
}

#menu {
text-align: center;
}

a:link, a:visited {color: #222; text-decoration: underline; }
a:active, a:hover {color: #444; text-decoration: underline; }
