html {
    font-family:  Helvetica, Arial, sans-serif;
    color: #111;
    height: 100%;
}

i {
    font-family: "Times";
}

img.headerimg {
display: block;
margin-left: auto;
margin-right: auto;
}

body{
background: #EFEFEF;
}

#content {
font-size: 1em;
line-height: 1em;
padding: 1em;
margin-left: auto;
margin-right:auto;
margin-top: 0em;
width: 70%;
max-width: 800px;
margin-bottom:2em;
padding-bottom:1em;
}

#fwf {
font-family: Courier;
}

#menu {
text-align: center;
}

a:link, a:visited {color: #222; text-decoration: underline; }
a:active, a:hover {color: #444; text-decoration: underline; }

hr {
    border: none;
    background-color: #aaa;
    color: #ccc;
    height: 1px;
}

#proceedings li {
    margin-bottom: 10px;
}

#organizers li {
    margin-bottom: 4px;
}


.paper-body {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #777;
}

#twitterfollow {
    float: right;
    text-align: right;
}

#index {
    vertical-align: middle;
    font-style: bold;
    font-size: 32px;
}

#indexbox {
    margin-top: 2em;
    margin-bottom: 1em;
}

